jerusalem/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media (min-width: 300px) {

#chevron-down {
  display: none;
}
nav a {
  display: flex;
flex-direction: column;
text-align: center;
}




  #entete {
    display: flex;
justify-content: center;
text-align: center;
background-color: black;
background-size: cover;
height: 100vh;
background-position: center;
background-attachment: fixed;
align-items: flex-start;
flex-wrap: wrap;
  }

#entete nav {
  width: 100%;
}

#entete nav ul {
  display: flex;
justify-content: space-around;
list-style: none;
width: 100%;
margin: 0%;
padding: 0%;
}


#entete nav ul li {
  display: flex;align-items: center;
}

#entete nav ul li .styleMob {
  color: white;
font-weight: lighter;
font-size: 12px;
}

#entete #paco {
  color: #f18b5a;
font-weight: bold;
transition-duration: .6s;
height: 12%;
width: 400px;
display: flex;
flex-direction: column;
font-size: 15px;
font-weight: lighter;
text-shadow: 1px 1px black;
align-items: center;
justify-content: space-around;
}

#entete #paco:hover{
  text-decoration: none;
}

#inspiration  {
  width: 100%;
text-align: center;
height: 64px;
background-color: #f18b5a;
;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: bolder;
}

.photoscitations {
  width: 100%;
  border: 0.1px solid black;
  height: 100%;
}
#citations2 {
  display: flex;
}
.photoscitations2 {
  width: 50%;
  height: 184px;
}
#finished {
  background-image: url(../img/finished.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#started {
  background-image: url(../img/started.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #debbouze  {
  background-image: url(../img/debbouze.jpg);
  width: 100%;
  height: 100vh;
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bolder;
  text-shadow: 1px 1px white;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

#debbouze a {
  margin-left: 3%;
  color: #006233;
  text-shadow: 1px 1px #c1272d;
  font-size: 14px;
}

#sectioncitations #zidane  {
  background-image: url(../img/zidane.jpg);
  width: 100%;
  height: 100vh;
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-shadow: 1px 1px white;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#zidane a {
  margin-left: 3%;
font-weight: bolder;
color: #006233;
text-shadow: 1px 1px white;
}
#sectioncitations #tapis  {
  background-image: url(../img/tapis.jpg);
  width: 100%;
  height: 100vh;
  font-weight: bolder;
  text-shadow: 1px 1px white;
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-attachment: fixed;
  text-shadow: 1px 1px white;
  background-repeat: no-repeat;
  background-position: center;
}

#tapis a {
  margin-right: 3%;
  color: #002496;
  text-shadow: 1px 1px white;
}

#sectioncitations #hapsatou  {
  background-image: url(../img/hapsatou.jpg);
  width: 100%;
  height: 100vh;
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: bolder;
  text-shadow: 1px 1px white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.wordMar {
  margin: 0%;
  color: #f18b5a;
  font-weight: bolder;
}

#hapsatou a {
  margin-right: 3%;
  text-shadow:2px 2px #00853f;
  color: #e31b23;
  font-size: 14px;
}



#courage {
  width: 100%;
text-align: center;
height: 64px;
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: lighter;
}

#enjoy  {
  width: 100%;
text-align: center;
height: 64px;
background-color:white;
color: black;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: bolder;
}

#voyage {
  width: 100%;
text-align: center;
height: 64px;;
background-color: whitesmoke;
color: crimson;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: lighter;
}
#sectioncitations #lion  {
  background-image: url(../img/lion.jpg);
  width: 100%;
  height: 300px;
  filter: grayscale(0%);
  cursor: pointer;
  background-size:auto;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#animals {
  display: flex;
}

#animals a {
  display: none;
}

#lion a {
  display: none;
}
#sectioncitations #elephant  {
  background-image: url(../img/elephant.jpg);
  width: 50%;
  height: 300px;
  filter: grayscale(0%);
  cursor: pointer;
  background-size:auto;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #singe  {
  background-image: url(../img/chimpanze.jpg);
  width: 50%;
  height: 300px;
  filter: grayscale(0%);
  cursor: pointer;
  background-size:auto;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #french  {
  background-image: url(../img/french.jpg);
  width: 100%;
  height: 300px;
  filter: grayscale(0%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#french a {
  display: none;
}

#cities {
  display: flex;
}

#cities2 {
  display: flex;
}

#cities2 a {
  display: none;
}

#cities a {
  display: none;
}
#sectioncitations #paris {
  background-image: url(../img/paris.jpg);
  width: 33.33%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #londres {
  background-image: url(../img/londres.jpg);
  width: 33.33%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #perou {
  background-image: url(../img/perou.jpg);
  width:100%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #cuba {
  background-image: url(../img/cuba.jpg);
  width: 100%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #bresil {
  background-image: url(../img/bresil.jpg);
  width: 100%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #egypte {
  background-image: url(../img/egypte.jpg);
  width: 100%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #jerusalem {
  background-image: url(../img/jerusalem.jpg);
  width: 100%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #lille {
  background-image: url(../img/lille.jpg);
  width: 33.33%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #mecca {
  background-image: url(../img/mecca.jpg);
  width: 100%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}



#countries {
  display: flex;
  flex-wrap: wrap;
}

#countries section {
  border: 0.1px solid white;
}

#countries #australie {
  border-bottom: none;
  border-left: none;
  border-top: none;
  border-right: none;
}

#countries #maroc {
  border-bottom: none;
  border-right: none;
  border-top: none;
}

#countries #inde {
  border-left: none;
  border-top: none;
  border-right: none;
}

#countries #malaisie {
  border-top: none;
  border-right: none;
}
#countries a {
  display: none;
}
#sectioncitations #inde  {
  background-image: url(../img/inde.jpg);
  width: 50%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #malaisie  {
  background-image: url(../img/malaisie.jpg);
    width: 50%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #maroc  {
  background-image: url(../img/maroc.jpg);
    width: 50%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: right;
}

#sectioncitations #australie  {
  background-image: url(../img/australie.jpg);
  width: 50%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: inherit;
}

#abnegation  {
  width: 100%;
text-align: center;
height: 64px;
background-color:#e6b953;
color: black;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: bolder;
}

#biz1 {
  display: flex;
  flex-wrap: wrap;
}

#biz1 a {
  display: none;
}
#sectioncitations #web {
  background-image: url(../img/web.jpg);
  width: 100%;
  height: 300px;
  filter: sepia(33%);
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#sectioncitations #animation  {
  background-image: url(../img/animation.jpg);
  width: 100%;
  height: 300px;
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: right;
}


#sectioncitations #networking  {
  background-image: url(../img/networking.jpg);
  width:100%;
  height: 300px;
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
#sectioncitations #immo  {
  background-image: url(../img/immobilier.jpeg);
  width: 100%;
  height: 300px;
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#immo a {
  display: none;
}

#startup a {
  display: none;
}

#sectioncitations #startup  {
  background-image: url(../img/startup.jpg);
  width: 100%;
  height: 300px;
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#contact  {
  background-image: url(../img/contact.jpg);
  width: 100%;
  height: 300px;
  cursor: pointer;
  background-size:cover;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: bottom;
}

#contact a {
  color: #22273e;
  text-align: center;
  font-weight: bolder;
  text-shadow: 2px 2px grey;
  font-size: 18px;
  border: 2px solid #22273e;
  padding: 2% 8%;
}

#contact a:hover {
  background-color: #22273e;
  border-color: #22273e;
  text-shadow: none;
  color: white;
}

#contact a {
  text-decoration: none;
}

/* PAGE PACO*/

#navbar-icon-color .navbar-toggler {
  border: none;
}
footer {
  height: 66px;
  background-color: #f18b5a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer p {
  margin: 0%;
  font-weight: bold;
}


footer .legalmention {
  font-size: 8px;
}

#footer2 {
  height: 66px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color:#f18b5a;
}
}

@media (min-width: 650px) {

#chevron-down{
  display: none;
}

#sectioncitations .photoscitationsTab {
  width: 50%;
}

#sectioncitations #citations2 {
  width: 100%;
}

#sectioncitations #citations2 .photoscitations2 {
  width: 50%;
}

#sectioncitations #debbouze a {
  font-weight: 200;
  font-size: 26px;
}

#sectioncitations #tapis a {
  font-weight: 200;
  font-size: 26px;
}

#sectioncitations #zidane a {
  font-weight: 200;
  font-size: 26px;
}

#sectioncitations #hapsatou a {
  font-weight: 200;
  font-size: 26px;
}

#sectioncitations #cities {
  width: 100%;
}

#sectioncitations #cities2 {
  width: 100%;
}

#sectioncitations #countries {
  width: 100%;
}

#sectioncitations #biz1 {
  width: 100%;
}

#sectioncitations #biz1 #web{
  width: 33.33%;
}

#sectioncitations #biz1 #animation{
  width: 33.33%;
}

#sectioncitations #biz1 #networking{
  width: 33.33%;
}


#sectioncitations #biz2 {
  width: 100%;
  display: flex;
}

#sectioncitations #biz2 #immo{
  width: 50%;
}

#sectioncitations #biz2 #startup{
  width: 50%;
}

#sectioncitations #french a {
  display: none;
}

#sectioncitations #cities a {
  display: none;
}

#sectioncitations #cities2 a {
  display: none;
}

#sectioncitations #countries a {
  display: none;
}

#sectioncitations #biz1 a {
  display: none;
}

#sectioncitations #biz2 a {
  display: none;
}

#contact {
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
#aboutpaco {
  display: flex;
  justify-content: center;
  text-align: center;
}

#aboutpaco figcaption {
  font-weight: bolder;
margin: 6% 0%;
font-size: 21px;
}

figcaption strong {
  color: lightcoral;
font-size: 28px;
}
#aboutpaco figure {
  margin: 0%;
}

#aboutpaco figure img {
  border-radius: 100%;
width: 50%;
border: 3px solid lightcoral;
}

#aboutme {
  margin: 3% 20%;
  text-align: center;
  border: 3.1px solid black;
  padding: 2% 3%;
  box-shadow: 9px 6px 6px grey;
}

#aboutme h2 {
  margin-bottom: 1.3em;
  font-size: 34px;
  font-weight: lighter;
}

#sectioncitations{
  display: flex;
  flex-wrap: wrap;
}

#sectioncitations article {
  margin: 0%;
  padding: 0%;
  width: 25%;
}


#sectioncitations section a {
  display: flex;
justify-content: center;
align-items: center;
font-size: 32px;
}

#sectioncitations #lion {
  width: 50%;
}

#sectioncitations #lion a {
  display: none;
}

#sectioncitations #elephant a {
  display: none;
}

#sectioncitations #singe a {
  display: none;
}

#sectioncitations #animals {
  width: 66.66%;
}

#sectioncitations #animals #elephant {
  width: 50%;
}

#sectioncitations #animals #singe {
  width: 50%;
}

.photoscitations2 {
  width: 50%;
}



#sectioncitations #lion  {
  background-image: url(../img/lion.jpg);
  width: 33.333%;
  height: 300px;
  filter: grayscale(0%);
  cursor: pointer;
  background-size:auto;
  transition-duration: .3s;
  display: flex;
justify-content: center;
align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

#photoscitations2 {
  height: 300px;
}

#citations2 .photoscitations2 {
  height: 300px;
}

}

@media (min-width: 890px) {
#entete {
  align-items: center;
}

#chevron-down {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#chevron-down i {
  color: white;
  font-size: 50px;
  cursor: pointer;
}

#entete nav ul li .styleMob {
  font-size: 20px;
}

#entete #paco {
  border: 1px solid;
  font-size: 30px;
font-weight: lighter;
transition-duration: .3s;
}

#entete #paco:hover {
  text-decoration: none;
  background-color: #f18b5a;
border-color: lightcoral;
color: white;
transition-duration: .4s;
}

#photoscitations2 {
  height: 450px;
}

#sectioncitations .photoscitationsTab {
  width: 33.33%;
}
#inspiration, #courage {
  height: 105px;
}

#courage p {
  margin: 0px;
  font-size: 32px;
}

#started {
  height: 220px;
}

#finished {
  height: 220px;
}
#sectioncitations #debbouze{
  width: 25%;
  background-attachment: inherit;
  height: 360px;
}

#sectioncitations #tapis {
  width: 25%;
  height: 360px;
  background-attachment: inherit;
}

#sectioncitations #hapsatou {
  width: 25%;
  height: 360px;
  background-attachment: inherit;
}

#sectioncitations #zidane {
  width: 25%;
  height: 360px;
  background-attachment: inherit;
}

.wordMar {
  margin: 0%;
color: white;
font-weight: bolder;
font-size: 32px;
}
.photoscitations{
  width: 33.33%;
}

#sectioncitations .linkbio {
  display: flex;
  text-shadow: 0px 0px;
  margin: 0px;
  color: white;
}

#sectioncitations .linkbio {
  display: flex;
  text-shadow: 0px 0px;
  margin: 0px;
  color: white;
  display: none;
}

#sectioncitations #debbouze {
  justify-content: center;
  align-items: center;
}

#sectioncitations #tapis {
  justify-content: center;
  align-items: center;
}

#sectioncitations #hapsatou {
  justify-content: center;
  align-items: center;
}

#sectioncitations #zidane {
  justify-content: center;
  align-items: center;
}
#citations2 .photoscitations2 {
  height: 450px;
}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
